<!DOCTYPE html>
<html>
<head>
	<title>SpongeBob</title>
	<link rel="icon" href="assets/img/icon.png">
	<link rel="stylesheet" href="assets/styles.css">
	<meta charset="utf-8">
</head>
<body>
	<nav>
		<a id="menu" href="index.html">Menu</a>
		<img class="logo" src="assets/img/icon.png" alt="Logo de SpongBob">
	</nav>
	<header>
		<h1>Rocks Paper or Scissors</h1>
	</header>

	<div>
		<a href="templates/1vs1.html">1vs1</a>
		<img class="pvsp" src="assets/img/1vs1.png" alt="">
	</div>
	<!--<img src="assets/img/bikini-bottom.jpeg" alt="" class="fondoBikini">-->

	<script src="assets/scripts.js"></script>
</body>
</html>