<!DOCTYPE html>
<html>
<head>
	<title>Player VS Karen Plankton</title>
	<link rel="stylesheet" href="../assets/styles/styles-pvspc.css">
	<link rel="icon" href="../assets/img/icon.png">
	<meta charset="utf-8">
</head>
<body>
	<nav>
		<a id="menu" href="../index.html"><img class="logo" src="../assets/img/icon.png" alt="Logo de SpongeBob"></a>
		
	</nav>
	<header>
		<h1>Player VS Karen Plankton<img class="pvsp" src="../assets/img/karen.png" alt=""></h1>
	</header>
	
	<div class="menu">
		<div class="choose" id="r">
			<img class="superBob" src="../assets/img/superBob.png" alt="">
		</div>
		<div class="choose" id="p">
			<img class="superPat" src="../assets/img/superPat.png" alt="">
		</div>
		<div class="choose" id="t">
			<img class="superCala" src="../assets/img/superCal.png" alt="">
		</div>
	</div>

	<script src="../assets/scripts/script-pvspc.js"></script>
</body>
</html>